@page "/Cart/ShowCart"

@if (temporalOrders is null)
{
    <Loading />
}
else
{
    <GenericList MyList="temporalOrders">
        <body>
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-cart" /> Shopping cart
                    </span>
                </div>
                <div class="card-body">
                    <div class="row mb-2">
                        <div class="col-4">
                            <h3>Product quantity: <strong>@($"{sumQuantity:N2}")</strong></h3>
                        </div>
                        <div class="col-4">
                            <h3>Valor: <strong>@($"{sumValue:C2}")</strong></h3>
                        </div>
                    </div>
                    <EditForm Model="orderDTO" OnValidSubmit="ConfirmOrderAsync">
                        <DataAnnotationsValidator />
                        <div class="mb-3">
                            <label>Comments:</label>
                            <div>
                                <InputText class="form-control" @bind-Value="@orderDTO.Remarks" />
                                <ValidationMessage For="@(() => orderDTO.Remarks)" />
                            </div>
                        </div>
                        <button class="btn btn-primary mb-3" type="submit"><i class="bi bi-check" /> Confirm Order</button>
                    </EditForm>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Amount</th>
                                <th>Price</th>
                                <th>Values</th>
                                <th>Comments</th>
                                <th>Image</th>
                                <th style="width:168px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var temporalOrder in temporalOrders)
                            {
                                <tr>
                                    <td>
                                        @temporalOrder.Product!.Name
                                    </td>
                                    <td>
                                        @temporalOrder.Product!.Description
                                    </td>
                                    <td>
                                        @($"{temporalOrder.Quantity:N2}")
                                    </td>
                                    <td>
                                        @($"{temporalOrder.Product!.Price:C2}")
                                    </td>
                                    <td>
                                        @($"{temporalOrder.Value:C2}")
                                    </td>
                                    <td>
                                        @temporalOrder.Remarks
                                    </td>
                                    <td>
                                        <img src="@($"{navigationManager.BaseUri}images/{temporalOrder.Product!.MainImage}")" style="width:100px;" />
                                    </td>
                                    <td>
                                        <a href="/Cart/ModifyTemporalOrder/@temporalOrder.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil" /> Edit</a>
                                        <button class="btn btn-danger btn-sm" @onclick=@(() => Delete(temporalOrder.Id))><i class="bi bi-trash" /> Delete</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </body>
    </GenericList>
}
