@page "/changePassword"

@if (Loading)
{
    <Loading />
}
<div class="row">
    <div class="col-12">
        <EditForm Model="changePasswordDTO" OnValidSubmit="ChangePasswordAsync">
            <DataAnnotationsValidator />
            <div class="card">
                <div class="card-header">
                    <span>
                        <i class="bi bi-key" /> Change Password
                        <a class="btn btn-sm btn-success float-end" href="/editUser"><i class="bi bi-arrow-left" /> Return</a>
                        <button class="btn btn-sm btn-primary float-end mx-2" type="submit"><i class="bi bi-floppy" /> Save Changes</button>
                    </span>
                </div>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Current password:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.CurrentPassword" />
                            <ValidationMessage For="@(() => changePasswordDTO.CurrentPassword)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>New Password:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.NewPassword" />
                            <ValidationMessage For="@(() => changePasswordDTO.CurrentPassword)" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Confirmation of new password:</label>
                        <div>
                            <InputText type="password" class="form-control" @bind-Value="@changePasswordDTO.Confirm" />
                            <ValidationMessage For="@(() => changePasswordDTO.Confirm)" />
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
</div>
