<CascadingBlazoredModal Position="ModalPosition.Middle" Size="ModalSize.Large"
HideHeader="true" DisableBackgroundCancel="true" AnimationType="ModalAnimationType.FadeInOut">

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
        <Authorizing>
            <p>Authorizing...</p>
        </Authorizing>
         <NotAuthorized>
        <p>You are not authorized to view this content......</p>
        </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry there is nothing on this route.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
</CascadingBlazoredModal>